@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: auto;
  overflow: auto;
}

body {
  background-color: white;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}
