@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --bg-color: #121212;
  --fg-color: #1e1e1e;
  --text-color: #e0e0e0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  background-color: white;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

body.dark {
  background-color: var(--bg-color);
  color: var(--text-color);
}
